<h1> All Photos</h1>
<a href= "/photos/new">
Add a new photo
</a>

<% @list_of_all_my_photos.each do |the_photo| %>

<div class="container">
      <div class="col-md-6">

<img src="<%= the_photo.source %>">

<a href="/photos/:da_id" class="btn btn-default">
  Show details
</a>

<a href="/photos/:la_id/edit" class="btn btn-default">
  Edit
</a>

<a href="/delete_photo/:id" class="btn btn-default">
  Delete
</a>


      </div>
    </div>

<% end %>
