<h1> Add a new photo</h1>

<form action="/create_photo">
<lable for ="cap">The_caption</lable>
<input id="cap" type="text" name="da_caption">
<lable for ="cap">The_source</lable>
<input id="cap" type="text" name ="da_source">
<button>Add photo</button>

</form>
