<h1> Add a new photo</h1>

<form action="/create_photo">
<label for ="Caption">Caption</label>
<input id="Caption" type="text" name="caption">
<label for ="Image URL">Image URL</label>
<input id="Image URL" type="text" name ="image_url">
<button>Create Photo</button>

</form>
