<h1> Add a new photo</h1>

<form action="/create_photo">
<lable for ="Caption">Caption</lable>
<input id="Caption" type="text" name="da_caption">
<lable for ="Image URL">Image URL</lable>
<input id="Image URL" type="text" name ="da_source">
<button>Create Photo</button>

</form>
